<footer class="site-footer">
  <div class="wrapper">
    <div class="site-description">
      <p>
        {{ .Site.Copyright }}
        <span class="version">
          ({{ .Site.Data.index_rewritten.repo.name }} {{ time (div (int .Site.Data.index_rewritten.repo.timestamp) 1000) | dateFormat "2006-01-02" }}, {{ .Site.Data.git.project }} <a href="https://gitlab.com/fdroid/{{ .Site.Data.git.project }}/tree/{{ .Site.Data.git.hash }}">{{ .Site.Data.git.describe }}</a>)
        </span>
      </p>
    </div>
  </div>
</footer>
