<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ default .Site.Title .Title }}</title>
  <meta name="description" content="{{ default .Site.Params.description .Summary }}">
  <link rel="stylesheet" href="{{ absURL "css/main.css" }}">
  <link rel="canonical" href="{{ absURL .Permalink }}">
  <link rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" href="{{ absURL .Site.RSSLink }}">

  <link rel="apple-touch-icon" sizes="180x180" href="{{ absURL "assets/apple-touch-icon.png" }}?v=8j6PKzW9Mk"/>
  <link rel="icon" type="image/png" sizes="32x32" href="{{ absURL "assets/favicon-32x32.png" }}?v=8j6PKzW9Mk"/>
  <link rel="icon" type="image/png" sizes="16x16" href="{{ absURL "assets/favicon-16x16.png" }}?v=8j6PKzW9Mk"/>
  <link rel="manifest" href="{{ absURL "assets/site.webmanifest" }}?v=8j6PKzW9Mk"/>
  <link rel="mask-icon" href="{{ absURL "assets/safari-pinned-tab.svg" }}?v=8j6PKzW9Mk" color="#5bbad5"/>
  <link rel="shortcut icon" href="{{ absURL "assets/favicon.ico" }}?v=8j6PKzW9Mk"/>
  <meta name="msapplication-TileColor" content="#ffffff"/>
  <meta name="msapplication-config" content="{{ absURL "assets/browserconfig.xml" }}?v=8j6PKzW9Mk"/>
  <meta name="theme-color" content="#ffffff"/>

  <meta http-equiv="Content-Language" content="{{ .Site.Language.Lang }}" />
  {{ echoParam . "Translations" }}
  {{ range .Translations }}
    <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ absURL .Permalink }}" />
  {{ end }}
</head>
