{{ $type := .Get 0 }}
{{ if $type | in (split "featured major fdroid" " ") }}
  <em class="{{ $type }} pill">{{ delimit (slice "posts" "pill" $type) "." | string | i18n }}</em>
{{ else }}
  <div>Error: bad pill type: "{{ $type | html }}"</div>
{{ end }}
